.form-convert{
  width: 90%;
  padding: 45px 0px 30px 0px;
  margin: 0px auto;

}
.form-inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  gap: 10px;
  padding:0px 0px 10px 0px;
}
.input-con{
  width: 40%;
}
.select-con{
  width: 30%;
}
label {
  display: flex;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.hidden{
  visibility: hidden;
}
.circle{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ccc;
  /* flex-shrink: 0; */
}
.circle-icon{
  stroke-width: 2;
  height: 16px;
  color: #1477e3;
}
.convert-result{
  padding: 10px 0px;
}
.currency-result-box{
font-weight: 600; 
}
.amout-text{
  color:#737c8e;
  font-size: 21px;
}
.result-big-text{
  color: #2e3c57;
  font-size: 32px;
}
.text-grey{
  color: #8991a0;
}
.info-but-con{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.currency-attention{
  border-radius: 5px;
  padding: 5px;
  background-color: #f2f7fe;
  width: 70%;
  display: flex;
}
.icon-box{
  margin: auto;
  padding: 0px 5px 0px 0px;
}
.info-icon{
  height: 20px;
  stroke-width: 2;
  color: gray;
}
.small-text{
  margin: auto 0px;
  font-size: 12px;
  line-height: 15px;
}
.small-link-text{
  text-decoration: underline;
}
.small-link-text:hover{
  text-decoration: none;
}

button {
  background-color: #0071eb;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(17, 127, 245)
}

.result {
  margin-top: 20px;
}

p {
  margin: 0;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .form-inputs{
    flex-direction: column;
    gap: 15px;
  }
  .input-con{
    width: 100%;
  }
  .select-con{
    width: 100%;
  }
  .circle-con{
    width: 100%;
  }
  .hidden{
    display: none;
  }
  .circle{
    transform: rotate(90deg);
  }
  .info-but-con{
    flex-direction: column-reverse;
    gap: 25px;
  }
  .currency-attention{
    width: 100%;
  }
  button {
    width: 100%;
  }
}
