footer {
  font-weight: 600;
  background-color: #0a146e;
  color: #ffffff;
  padding: 50px 30px 20px 30px;
  width: 100%;
}

.footer-h3 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 18px;
}
.footer-contact{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icon{
  padding-right: 5px;
  color: white;
  height: 20px;
  width: 20px;
}
.footer-link{
  font-weight: 500;
  color: white;
}
.footer-link:hover, .footer-contact:hover{
  text-decoration: underline;
}
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
}
.bg-blue{
  background-color: #0071eb;
  color: white;
}
.bg-blue:hover{
  background-color: rgb(17, 127, 245);
}
@media (max-width: 767px) {
  .footer-h3{
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom:5px ;
  }

}