
Header{
  background: linear-gradient(to bottom, #0a146e 70%, transparent 60%);
  padding:70px 0px 50px 0px;
  height: auto;
}
.head-box{
  padding: 100px 0px 0px;

}
.header-text{
  color: white;
  margin: 0px auto;
  text-align: center;
  width: 60%;
  padding: 20px 0px;
}

.converter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.header-section{
  background-color: white;
  margin: 10px auto 0px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: auto;
  width: 98%;
  border-radius: 7px;
}

.header-section-top{
  text-align: center;
  height: 60px;
  width: 100%;
  display: flex;
}
.header-section-top-links{
  background-color: #f0f5fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  cursor: pointer;
}
.header-section-top-links:hover{
  background-color: #f9fbfd;
}
.header-section-top-links:first-child {
  border-top-left-radius: 7px;
}

.header-section-top-links:nth-child(4) {
  border-top-right-radius: 7px;
}
.top-links-text-icon{
  color:#4e647f;
}
.top-links-text-icon.active{
  color: #006fe8;
}
.header-section-top-links.active {
  background-color: white;
  color: rgb(255, 0, 0);
}

.header-section-top-icon{
  stroke-width: 2px;
  width: 22px;
  height: 22px;
  margin: 0px 5px 5px 0px;
}
.header-section-bot{
  width: 100%;
  height: auto;
  min-height: 250px;
}
@media (max-width: 576px) {
  .top-links-text-icon{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .header-section-top-icon{
   margin: auto;
  }
}